@import "variables";

h1 {
    color: $blue-color;
    font-size: 30px;
}
.user-container {
    display: flex;
    align-items: center;
}
.img-user {
    width: 28px;
    height: 28px;
    border-radius: 100%;
}
