<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
  <a class='navbar-brand' href='/'>SaleOff</a>
  <button
    class='navbar-toggler'
    type='button'
    data-toggle='collapse'
    data-target='#navbarSupportedContent'
    aria-controls='navbarSupportedContent'
    aria-expanded='false'
    aria-label='Toggle navigation'>
    <span class='navbar-toggler-icon'></span>
  </button>

  <div class='collapse navbar-collapse' id='navbarSupportedContent'>
    <ul class='navbar-nav mr-auto container'>
      <li style="nav-item color: white; font-weight: bold;" class='nav-item'>
        <a class='nav-link' href='/me/stored/products'>Sản phẩm của tôi</a>
      </li>
      <li class='nav-item color: white; font-weight: bold;'>
        <a style="nav-link" class='nav-link' href='/products/create'>Tạo
          Sản phẩm</a>
      </li>
      <li class='nav-item color: white; font-weight: bold;'>
        <a style="nav-link" class='nav-link' href='/users/allUser'>Quản lý người dùng</a>
      </li>
      {{#if user}}
      <li class='nav-item dropdown'>
        <a
          class='nav-link dropdown-toggle'
          href='#'
          id='navbarDropdown'
          role='button'
          data-toggle='dropdown'
          aria-haspopup='true'
          aria-expanded='false'>
          <div style="margin-left: 20px;" class='user-container'>
            <img
              class='img-user mr-2'
              src='{{user.image}}'
              alt="image-user" />
            <p style="margin: 0px; color: white;">{{user.name}}</p>
          </div>
        </a>
        <div class='dropdown-menu' aria-labelledby='navbarDropdown'>
          <a class='dropdown-item' href='/auth/api/logout'>Đăng xuất - "{{user.name}}"</a>
        </div>
      </li>
      {{else}}
      <li class='nav-item color: white; font-weight: bold;'>
        <a style="nav-link" class='nav-link' href='/auth/google'>Đăng nhập with Google</a>
      </li>
      {{/if}}
    </ul>
    <form style="display: flex; align-items: center;" class='my-2 my-lg-0'>
      <input
        class='form-control mr-sm-2'
        type='search'
        placeholder='Search'
        aria-label='Search' />
      <button
        class='btn btn-outline-success my-2 my-sm-0'
        type='submit'>Search</button>

    </form>
    <div id="google-signin-button"></div>
  </div>
</nav>
